

body {
        font: bold 12px arial;
}

span {
        float: left;
        margin-top: 17px;
        text-align: center;
        width: 100%;
}

#connect {
	position: fixed;
	margin-top: 200px;
	margin-left: 70px;
	bottom: 380px;
}

#disconnect {
	position: fixed;
	margin-top: 200px;
	margin-left: 187px;
	bottom: 380px;
}

#execute {
	position: fixed;
	margin-top: 200px;
	margin-left: 330px;
	bottom: 380px;
}

#FirstName {
	background: #b3b3cc;
}

#LastName {
	background: #c2c2a3;
}

#WorkSpace {
	position:relative;
	height: 330px;
	width: 500px;
    background: #d9d9d9;
    margin-top: 165px;
    margin-left: 550px;
    border: 1px solid black;
}

#WorkSpaceText {
	position: relative;
	text-align: center;
	top: 10px;
}

#NameBox {
	margin-top: -300px;
	margin-left: 20px;
	width: 330px;
	height: 100px;
	border: 1px solid black;
    background: #999;
    padding:10px;
    float: left

}

.name {
    background: #cdcdcd;
    color: #3b3b3b;
    /*float: left;*/
    width: 120px;
    height: 50px;
    margin: 10px;
    float: left;
    font-weight: bold;
    /*margin-right: 10px;*/
}    